.typographyHeader {
}

.borderBottom {
  border-bottom: 1px solid rgba(215, 222, 218, 1);
  margin-top: 1rem;
}
.card-Style-help {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dark-theme .help-card {
  border: none;
  background-color: rgba(34, 37, 41, 1);
}
.no-item-style-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  gap: 24px;
}
.pin-locationStyle {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid rgba(162, 171, 166, 1);
  border-radius: 6px;
}
.help-main-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  width: 100%;
}
.text-title-card {
  display: -webkit-box;
  min-height: 64px;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
}
.help-page-card {
  height: 100%;
  padding: 24px 24px 24px;
  border-radius: 16px;
  border: 1px solid #d7deda;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 4px 20px 0px #0000001a;
}
.dark-theme .help-page-card {
  background-color: rgba(34, 37, 41, 1);
  border: none;
}
.help-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(215, 222, 218, 1);
  gap: 1rem;
  width: 100%;
}
.search-bar-container-help {
  margin-left: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

.header-help-details-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 40px;
}

@media (max-width: 640px) {
  .header-help-details-page {
    flex-direction: column;
    align-items: baseline;
    gap: 12px;
    padding-bottom: 24px;
  }

  .search-bar-container-help {
    gap: 12px;
    flex-direction: column;
    width: 100%;
    padding-right: 4px;
    margin-left: 0px;
  }

  .help-mobile-filter-container {
    margin-left: auto;
  }

  .help-location-filter-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
