.date-picker-container {
  position: relative;
  min-width: min(40vh, 30%);
}

.date-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.calendar-dropdown {
  position: absolute;
  width: 100%;
  min-width: 30vh;
  top: 100%;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.calendar-dropdown.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/*------------------*/

/* .rdrCalendarWrapper {
  background-color: #f5f5f5;
  width: 100%;
  min-width: fit-content;
  padding: 10px;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0px 3px 4px rgba(124, 123, 123, 0.15);
}

.rdrMonthsVertical {
  min-height: 290px;
}
.rdrMonth {
  width: 100%;
  min-width: 27.66em;
  padding: 0;
  font-family: "Inter";
}

.rdrWeekDay {
  font-weight: 600;
  font-size: 1rem;
  color: black;
  font-family: "LEXEND";
  flex-basis: calc(100% / 7.3);
  box-sizing: inherit;
  text-align: center;
  margin: 0 5px 0 0;
}
.rdrDays {
  display: block;
  font-family: "LEXEND";
}

.rdrDay {
  height: 3.5em;
  margin: 0 3px 0 0;
  width: calc(100% / 7.5);
}
.rdrCalendarWrapper:not(.rdrDateRangeWrapper)
  .rdrDayHovered
  .rdrDayNumber::after {
  border-width: 0px;
  background-color: transparent;
}

.rdrNextPrevButton {
  display: block;
  width: 24px;
  height: 24px;
  padding: 20px;
  border: 0;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 1px 1px rgba(124, 123, 123, 0.15);
}

.rdrNextButton i {
  display: inline-block;
  border-width: 0;
  width: 12px;
  height: 23px;
  background-image: url("/public/assets/MonthAhead.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-12px, -9px);
}
.rdrPprevButton i {
  display: inline-block;
  border-width: 0;
  width: 12px;
  height: 23px;
  background-image: url("/public/assets/MonthBack.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-8px, -9px);
}

.rdrMonthAndYearWrapper select {
  font-weight: bold;
  padding: 5px 10px;

  border: 1px solid #ccc;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(124, 123, 123, 0.15);
  border-radius: 10px;
  appearance: none;
  background-image: url("/public/assets/MonthYearDrop.svg");
  background-repeat: no-repeat;
  background-position: right 14% top 65%;
  background-size: 0.45em auto;
  padding-right: 1.4em;
  font-family: "Inter";
  font-size: large;
  border: 0;
}
.rdrMonthPicker {
  margin: 0 1px;
  border-radius: 10px;
}

.rdrYearPicker {
  margin: 0;
  border-radius: 10px;
}
.rdrMonthPicker select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rdrYearPicker select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rdrMonthPicker select option,
.rdrYearPicker select option {
  font-family: "LEXEND";
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 0;
  line-height: 1.5;
}

.rdrDayStartPreview {
  border: 0;
}


.rdrDayNumber span {
  font-weight: 500;
}

.rdrDayPassive .rdrDayNumber {
  background-color: transparent;
  box-shadow: none;
}
.rdrDayNumber:hover {
  background-color: #e5f0eb;
}

.rdrDay:has(.rdrSelected) .rdrDayNumber {
  background-color: #006633;
} */

/*--------------------------------------*/
