.main-assets-container {
  max-width: 792px;
}
.assets-page {
  display: flex !important;
  flex-direction: column;
  column-gap: 1rem !important;
  row-gap: 40px !important;
  min-height: fit-content;
  margin: 0 auto 20px auto;
  max-width: 1200px;
  padding-bottom: 30px;
  width: 91.6%;
  margin: auto !important;
  margin-bottom: 30px;
}
.header-Assets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.assets-details-card {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(215, 222, 218, 1);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 20px;
}
.dark-theme .assets-details-card {
  background-color: rgba(34, 37, 41, 1);
  border: none;
}

.card-data {
  display: flex;
  justify-content: start;
}

.PhoneMailContainer1 {
  display: flex;
  align-items: center;
  margin-bottom: 16px !important;
  margin-right: 20px;
}

.PhoneMailContainer1 .IconWrapper {
  margin-right: 5px;
}
.card-flex {
  display: flex;
  justify-content: start;
}
.direction {
  justify-content: space-between;
}
.section-heading-container {
  display: flex;
  height: fit-content;
  align-items: center;
  margin-bottom: 24px;
}

.image-header {
  height: 96px;
  width: 96px;
  background-color: #ffffff;
  margin-right: 16px;
  border-radius: 4px;
}

.filter-box-style {
  /* background-color: rgba(240, 245, 242, 1); */
  height: fit-content;
  padding: 20px;
}
.custom-accordion {
  border: none !important;
  box-shadow: none !important;
  /* border-bottom: 1px solid rgba(215, 222, 218, 1); */
  background-color: transparent !important;
}
.dark-theme .custom-accordion {
  background-image: none;
}
.assets-accordion-summary:focus-visible {
  border: 2px solid rgba(26, 92, 75, 0.7);
  border-radius: 20px;
  outline: "none";
}
.light-theme .accordion-details {
  background-color: #ffffff;
  padding: 0px 16px;
}
.assets-accordion-summary {
  display: flex;
}
.no-Data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderClass {
  border-left: 1px solid rgba(217, 217, 217, 1);
  padding-left: 10px;
}

.PhoneMailContainerAsset {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.assets-search-bar {
  max-width: 320px;
  min-width: 240px !important;
  border-radius: 6px;
}

@media (max-width: 640px) {
  .assets-page {
    width: 95%;
  }

  .filter-box-style {
    margin-bottom: 3rem !important;
  }

  .header-Assets {
    gap: 20px;
    background-color: #f2f2f2;
    padding: 24px 12px;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .dark-theme .header-Assets {
    background-color: rgba(34, 37, 41, 1);
  }

  .assets-details-card {
    flex-direction: column;
  }

  .assets-search-bar {
    min-width: 170px !important;
  }

  .assets-accordion-container {
    padding: 16px;
  }

  .image-header {
    height: 66px;
    width: 66px;
  }
}

@media (max-width: 430px) {
  .header-Assets {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
