/* styles.css */
.custom-list-border {
  width: 100%;
  border-top: 1px solid var(--primary-green);
  border-bottom: 1px solid var(--primary-green);
  border-left: 1px solid var(--primary-green);
}
.right-border {
  border-right: 1px solid var(--primary-green);
  border-radius: 0 4px 4px 0;
}
.left-border-radius {
  border-radius: 4px 0 0 4px;
}
.custom-list {
  display: flex;
  background-color: var(--full-white);
  margin-bottom: 0;
  padding: 0;
  height: 44px;
  width: 85%;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-radius: 4px;
}
.custom-list-item {
  color: black !important;
  font-size: 12px !important;
  font-family: "Inter" !important;
  font-weight: 700 !important;
  border-radius: 0px !important;
  word-wrap: break-word !important;
}
.top-bar {
  /* background: #f6f3ee; */
  border-bottom: 1px solid rgba(215, 222, 218, 1);
  display: flex;
}
.top-bottom-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
}
.dark-theme {
  .top-bottom-bar {
    background-color: rgba(28, 33, 30, 1);
    border-bottom: 1px solid #006633;
  }
  .middle-container {
    background-color: rgba(10, 13, 11, 1) !important;
  }
  .top-bar {
    background-color: rgba(10, 13, 11, 1) !important;
  }
}
.button-style {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  /* color: #000000 !important; */
  display: block !important;
  font-weight: 500 !important;
  margin-block: 0px !important;
  padding-block: 0px;
  height: 100% !important;
  align-content: center !important;
  /* text-wrap: nowrap; */
}
.toolbarBottomNav {
  min-height: 0 !important;
  padding: 0;
  margin: 0;
  width: 100%;
  height: inherit !important;
  display: flex !important;
  align-items: stretch !important;
}

.topbar-content {
  width: 95%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: end;
}

.topbar-text {
  border-left: 1px solid #d8d8d8;
  padding: 0px 10px;
  font-weight: 600 !important;
}
.svgIcon-appbar {
  object-fit: contain;
}
.sideBorder {
  border-left: 1px solid #d8d8d8;
  padding-right: 24px;
}
.text_dept {
  padding: 0px 10px;
  font-weight: 600 !important;
}
.text_govt {
  padding: 0px 10px;
  font-weight: 600 !important;
  color: rgba(92, 100, 96, 1);
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  line-clamp: 2 !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
}
.dark-theme .text_govt {
  color: #fff;
}
.account-icons-style {
  cursor: pointer;
  color: rgba(26, 92, 75, 1);
}
.dark-theme .account-icons-style {
  color: rgba(133, 188, 49, 1);
}
.language-options {
  /* border-left: 1px solid #d8d8d8; */
  padding: 0px 10px;
}
.item-box {
  height: 100%;
  border-right: 1px solid #d8d8d8;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.Aicon {
  font-weight: 600 !important;
  padding-block: 4px;
}
.account-name-box {
  display: flex;
  align-items: center;
}

.weather-data-box {
  border: 1px solid rgba(215, 222, 218, 1);
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 16px;
  margin-block: 8px;
  display: flex;
  justify-content: flex-end;
}
.temp-box {
  display: flex;
  align-items: end;
  flex-wrap: nowrap;
  height: fit-content;
}

.temp-style {
  font-weight: 600 !important;
  text-wrap: nowrap;
}
.weather-location-style {
  color: rgba(92, 100, 96, 1);
}
.home-temp-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-inline: 10px;
}

.topnav-container-mobile-style {
  display: flex;
}

.topnav-accessibility-container {
  display: flex;
  align-items: stretch;
}

.mobile-topnav-logo {
  height: 30px;
}

.accessibility-menu {
  border: 0.5px solid #a2aba6;
}

.dark-theme .accessibility-menu-header-icon {
  filter: invert(1);
}

.accessibility-menu-icons {
  width: 20px;
}
.dark-theme .accessibility-menu-icons {
  filter: invert(1);
}

@media (max-width: 640px) {
  .topnav-container-mobile-style {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .topnav-accessibility-container {
    display: flex;
    align-items: center;
  }
}
