.radio-container {
  width: 380px;
  height: 222px;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.logo-container {
  padding-top: 19px;
  padding-left: 22px;
}

.radio-logo {
  width: 60px;
  height: 60px;
}

.radio-title {
  text-align: left;
  color: #1a5c4b;
  font-size: 16px;
  font-weight: 700 !important;
  width: 139px;
  display: flex;
  align-items: flex-end;
}

.animation-container {
  background: linear-gradient(
    107.74deg,
    rgba(255, 255, 255, 0.58) 7.1%,
    rgba(255, 255, 255, 0.4756) 93.79%
  );
  border-radius: 16px;
  padding: 6px 2px;
}

.animation-gif {
    height: 78px;
    width: 156px;
    object-fit: cover;
}

.marquee-text {
  width: 90%;
  margin-left: 3%;
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.audio-controls-container {
  position: relative;
  width: fit-content;
  margin-left: 15px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 4px 12px;
  background: linear-gradient(
    93.33deg,
    rgba(255, 255, 255, 0.5) 2.37%,
    rgba(255, 255, 255, 0.215) 93.4%
  );
}

.controls {
  text-align: center;
  padding: 10px;
}

.control-btn {
  cursor: pointer;
  width: 50px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.control-btn:hover {
  transform: scale(1.1);
}

.pause-icon {
    height: 33px;
}

.volume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volume-display {
  width: 50px;
  height: 20px;
  z-index: 27;
  text-align: left;
}

.volume-input,
.percent-input {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000;
  text-align: right;
}

.percent-input {
  width: 10px;
  text-align: left;
}

.volume-control-wrapper {
  z-index: 29;
  cursor: pointer;
}

.volume-controller {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1px;
  margin-left: 10px;
  position: relative;
  margin-right: 10px;
}

.volume-bar {
  width: 3px;
  background-color: gray;
  transition: background-color 0.3s;
  /* border-radius: 4px; */
}

.volume-bar:hover {
  background-color: blue !important;
}

.volume-bar.selected {
  background-color: #1A5C4B;
}

.scrolling-text {
  width: 90%;
  margin-left: 0%;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: bold;
}

.scrolling-text b {
  display: inline-block;
  padding-left: 15%;
  padding-right: 5%;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 640px) {
  .radio-scroll-box {
    max-width: 100%;
    overflow: auto;
  }
}
