.inbox-page-layout {
    max-width: 1200px;
      margin: auto;
      margin-bottom: 80px;
      width: 95%;
    }
    
    .inbox-page-container {
      padding: 24px !important;
      display: flex !important;
      flex-direction: column;
      gap: 24px;
      border-radius: 12px !important;
}

.tabs-search-container {
  @apply lg:flex block justify-between items-center mb-6;
}

.complaint-tabs-container {
  @apply md:flex block lg:mb-0 mb-1;
}

.complaints-count-tab {
  @apply cursor-pointer flex md:mr-4 md:mb-0 mb-1;
}

.case-logo {
  height: 51px !important;
  width: 51px !important;
  border-radius: 0 !important;
}

.tab-header {
  font-family: Inter, sans-serif !important;
  font-weight: 600 !important;
}

.count-pill {
  @apply flex justify-center items-center text-white px-10 py-5 rounded-3xl bg-primary text-sm;
  width: 70px;
  height: 35px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}
.complaint-search-bar {
  @apply flex items-center shadow-none !important;
    border: 1px solid #A2ABA6;
    width: 320px;
    border-radius: 6px;
    height: 40px;
}

.dark-theme .complaint-search-bar {
  background: transparent;
}

.table-container {
  /* @apply px-3 py-2 rounded-md;
  border: 1px solid #eaecf0;
  box-shadow: 0px 0px 2px 0px #00000040;
    */
}

.date-range-picker-container {
  position: relative;
}
.filters-container {
  @apply sm:flex block justify-end items-center w-full;
}

.container-header-text {
  font-weight: 600 !important;
  font-size: 18px !important;
}

.table-filters {
  @apply sm:flex block gap-4;
}

.table-filter {
  @apply flex items-center justify-center px-3 py-0.5 rounded-md sm:mt-0 mt-1 cursor-pointer;
    border: 1px solid #d0d5dd;
    background-color: #F0F5F2;
}
.dark-theme .table-filter {
  background-color: transparent;
}
.view-details-button {
  border-radius: 20px !important;
  text-transform: none !important;
  border: 1px solid #101828 !important;
  color: #101828 !important;
  padding: 2px 15px !important;
}

.dark-theme .view-details-button {
  border: 1px solid #fff !important;
  color: #fff !important;
}
.complaints-pagination {
  @apply flex justify-between items-center pt-3;
}
