.generic-chart-wrapper {
  box-shadow: 0px 4px 20px 0px #0000001a;
  padding: 12px;
  border-radius: 12px;
  position: relative;
}

.generic-chart-header {
  font-weight: 700 !important;
}

.absolute-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.chips-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: unset;
  top: 40px;
  z-index: 5;
  max-width: 95%;
  flex-wrap: wrap;
  margin-left: 10px;
}
