/* styles.css */
.footer-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-top: 40px;
  /* padding-bottom: 0;
  padding-top: 0; */
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.light-theme .footer-container {
  background-color: rgba(28, 33, 30, 1);
  color: rgba(215, 222, 218, 1);
}
.dark-theme .footer-container {
  background-color: rgba(28, 33, 30, 1);
  color: rgba(255, 255, 255, 1);
}
.image-box {
  display: flex;
  align-items: center;
}

.qr-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  justify-content: start;
  align-self: start;
  border: 4px solid #ccc;
  border-radius: 12px;
  padding: 10px 10px;
  max-height: 320px;
}

.qr-text {
  margin-left: 2px;
  color: #ffffff;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
  /* width: 100px; */
  font-weight: 600;
  font-size: 14px !important;
}

.google-play-button {
  margin-top: 16px;
}

.link-header {
  margin-bottom: 8px !important;
  font-weight: 600 !important;
}
.light-theme .link-header {
  color: rgba(208, 241, 158, 1) !important;
}
.dark-theme .link-header {
  color: rgba(133, 188, 49, 1) !important;
}

.link-item {
  color: #e6e7e7 !important;
  margin-bottom: 8px !important;
  text-decoration: none !important;
  display: block !important;
}

.social-links {
  text-align: center;
}
.image-div {
  width: 100%;
  /* background-color: rgba(240, 245, 242, 1); */
  margin: 0px;
  padding-inline: 30px;
  padding-top: 5px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.dark-theme .image-div {
  background-color: rgba(26, 29, 33, 1) !important;
}
.svgIcon {
  /* width: 100%; */
  object-fit: contain;
  margin-block: 3px;
}
.backgroundColorSvgFooter {
  height: 100px;
  width: 200px;
}
.dark-theme .backgroundColorSvgFooter {
  background-color: white !important;
}
.image-hover-effect {
  fill: white;
  border-radius: 9px;
}
.image-hover-effect:hover {
  border-radius: 9px;
  background-color: white;
}
.copyrightText-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.outer-box-copyright {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-top: 24px;
  border-top: 1px solid rgba(92, 100, 96, 1);
}
@media (max-width: 600px) {
  .copyrightText-box {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
}

.footer-link {
  display: 'inline-block';
  padding: 0 0.2rem !important;
}
.footer-link:focus-visible {
  outline: 2px solid;
}

/* .slick-prev,
.slick-next {
  background-color: #333;
  color: #fff; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.slider-container {
  background-color: black; 
  padding: 20px;
  position: relative;
} */
