.mandi-price-container {
    @apply m-auto w-11/12;
    column-gap: 1rem;
    max-width: 1200px;
    margin-bottom: 80px;
}

.mandi-price-main-header {
    font-family: Inter !important;
        font-weight: 700 !important;
        line-height: 57.6px !important;
        letter-spacing: -0.04em !important;
        margin-bottom: 30px !important;
        margin-top: 30px !important;
}

.dark-theme .mandi-price-main-header {
    color: #fff;
}
.mandi-price-filters-container {
    background-color: #f0f5f2;
    border-radius: 1rem;
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.dark-theme .mandi-price-filters-container {
    background-color: #222529;
}

.mandi-price-filter-box {
    display: flex;
    flex-flow: row wrap;
    row-gap: 12px;
    column-gap: 0.4rem;
}

.mandi-filter-label {
    font-family: Inter !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    text-align: left !important;
    margin-bottom: 5px !important;
}

.dark-theme .mandi-filter-label {
    color: #fff;
}
.mandi-price-content-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
}

.mandi-price-table-header-container {
    @apply flex justify-between items-center;
    padding: 30px 0px;
}

.mandi-price-table-paper {
    width: 100%;
    overflow: hidden;
    border-radius: 8px !important;
}

.dark-theme .mandi-price-table-paper {
    border-radius: 0 !important;
    background-color: #222529;
}

.mandi-table-header-cell {
    background-color: #1A5C4B !important;
    color: #fff !important;
}
.dark-theme .mandi-table-header-cell {
    background-color: #85BC31 !important;
    color: #000 !important;
}

.mandi-table-header-cell :hover {
    color: #fff !important;
}
.dark-theme .mandi-table-header-cell :hover {
    color: #000 !important;
}
    
.custom-active-header-label {
    color: rgba(247, 213, 8, 1) !important;
} 
.dark-theme .custom-active-header-label {
    color: #fff !important;
}

.mandi-table-body-cells {
    color: #1C211E !important;
}

.dark-theme .mandi-table-body-cells {
    color: #fff !important;
}

.selected-commodity-headers-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-inside-box {
    height: 40px;
    cursor: pointer;
}

.today-price-trend {
    width: fit-content !important;
    gap: 1px;
}
.mandi-price-chart-header {
    font-family: Inter !important;
        font-weight: 700 !important;
        line-height: 38.4px !important;
        letter-spacing: -0.02em !important;
}
.dark-theme .mandi-price-chart-header {
    color: #fff;
}
.mandi-price-table-header {
    font-family: Inter !important;
        font-weight: 700 !important;
        line-height: 38.4px !important;
        letter-spacing: -0.02em !important;
        padding: 30px 0px !important;
}
.dark-theme .mandi-price-table-header {
    background: #1A1D21;
    color: #fff;
}
.commodity-price-details-page {
    @apply w-11/12 max-w-[1200px] m-auto mb-20;
}

.price-trend-chart-container {
    @apply flex;
}

.commodity-past-prices-container {
    box-shadow: 0px 4px 20px 0px #0000001A;
    border-radius: 12px;
}

.dark-theme .arrival-date-text {
    color: #fff;
}
.price-trend-custom-tooltip-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #fff;
}
.commodity-past-price-row {
    @apply flex justify-between sm:justify-normal p-4 w-full;
    border-bottom: 1px solid var(--Neutral-neutral-300, #D7DEDA)
}
.dark-theme .commodity-past-price-row {
    color: #fff;
}
.mandi-commodity-selected {
    @apply w-full sm:w-auto;
    border: 1px solid var(--Neutral-neutral-400, #A2ABA6);
    padding: 8px;
    min-width: 160px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-theme .mandi-commodity-selected {
    color: #fff;
}
.mandi-today-price {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.04em;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    }
.dark-theme .mandi-today-price {
    color: #fff;
}
    
    .mandi-price-filter-item {
        @apply md:max-w-[180px];
    }
    
    
    /* for mobile screen */

    @media screen and (max-width:640px) {
        .mandi-price-container {
            width: 95%;
        }

        .mandi-price-filter-item {
            width: 100%;
        }

        .commodity-price-details-page {
            width: 95%;
        }

        .mandi-price-table-header-container {
            flex-direction: column;
            gap: 40px;
        }

        .mandi-price-filters-container {
            padding: 0;
            background-color: transparent;
        }

        .dark-theme .mobile-drawer {
            background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
            background-color: #121212;
        }

        .selected-commodity-headers-container {
            flex-direction: column;
            padding: 24px;
        }

        .arrow-inside-box {
            display: none;
        }

        .mandi-price-main-header {
            margin-bottom: 8px !important;
            margin-top: 8px !important;
        }

        .mandi-today-price {
            justify-content: flex-end;
        }

        .mandi-commodity-selected {
            justify-content: flex-start;
            font-weight: 400;
        }
    }