.page-header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.switch-tabs-layout {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 24px;
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px solid #1c211e4d;
}
