.signup-container {
  width: 375px;
  box-shadow: rgba(145, 158, 171, 0.08) 0px 0px 2px 0px, rgba(145, 158, 171, 0.08) 0px 12px 24px -4px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  border-radius: 16px;
    border: 1px solid #d9d9d9b2;
  }
  
  .reset-container {
    padding: 10px 25px 25px;
}
.justify-content {
  display: flex;
  justify-content: center;
}
.signin {
  font-family: 'poppins',  sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.welcome {
  font-family: 'poppins',  sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px;
}
.welcome-bold {
  font-family: 'poppins',  sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.terms-of-use {
  font-family: 'poppins',  sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}
.action-container{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.new-user {
  font-family: 'poppins',  sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  width: 100%;
  text-align: center;
}
.new-user-bold {
  font-family: 'poppins',  sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
}

.otp-input-box {
  height: 42px;
  width: 35px !important;
  border-radius: 5px;
  border: 1px solid #4285f4;
}
.otp-text {
  font-family: 'poppins',  sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 30px;
  text-align: center;
}
.resend-otp-div {
  font-family: 'poppins',  sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.resend-otp-text {
  font-family: 'poppins',  sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  color: #4285f4;
}

.forgot-password {
  color: rgb(0, 102, 51);
  font-weight: 500;
  cursor: pointer;
}

.reset-password-header-container {
  margin-top: 16px;
  margin-bottom: 25px;
}
.reset-password-header {
  font-weight: 700 !important;
}

.reset-mobile-number {
  font-weight: 400;
  margin: 15px 0px;
}

.reset-width {
  width: 420px !important;
  max-width: 420px !important;
}

.time-left {
  font-size: 16px;
  color: #505a5f;
}

.dark-theme .time-left {
  color: #E4E7E6;
}
.send-otp {
  cursor: pointer;
  font-weight: 600 !important;
  color: #ed6c02 !important;
}

.grm-otp-input-box {
  height: 40px;
    width: 50px !important;
    border-radius: 4px;
    border: 1px solid #A2ABA6;
}

.dark-theme .grm-otp-input-box {
  background-color: #222529;
  color: #fff;
  border: 1px solid #F0F5F2;
}
@media screen and (max-width: 640px) {
  .reset-width {
    width: 96% !important;
  }
  .grm-otp-input-box {
    height: 36px;
    width: 40px !important;
  }
}
