.sitemap-page-layout {
  max-width: 1200px;
  width: 95%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.sitemap-header {
  font-family: Inter !important;
}

.sitemap-sections-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sitemap-section-header {
  display: flex;
  padding: 12px 8px;
  gap: 8px;
  border-radius: 10px;
  width: 100%;
  background: #b7f19e;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.sitemap-section-header-text {
  font-family: Inter !important;
  font-weight: 700 !important;
  line-height: 29.05px !important;
  color: #1a5c4b !important;
}

.sitemap-sub-section {
  margin-top: -19px;
}

.sitemap-subsection-item {
  padding-top: 57px;
  border-left: 1px solid #454545;
  margin-left: 11px;
  position: relative;
}

.dark-theme .sitemap-subsection-item {
  border-color: #fff !important;
}
.sitemap-right-arrow-text-container {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: -14px;
  z-index: 1;
}

.sitemap-subsection-header {
  font-family: Inter !important;
  font-weight: 500 !important;
  line-height: 21.78px !important;
  color: #2d2d2d !important;
  cursor: pointer;
  padding: 4px 32px 4px 4px;
  z-index: 2;
}

.dark-theme .sitemap-subsection-header {
  color: #fff !important;
}

.white-arrow-icon {
  filter: invert(1);
}