/* cards.css */
.common-card {
  border-radius: 12px !important;
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: none !important;
  /* box-shadow: 0px 2px 12px 0px rgba(162, 171, 166, 0.2) !important; */
}

.card-content {
  padding-inline: 0px !important;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.account-balance-icon {
  font-size: 50px;
  margin-bottom: 8px;
  background: rgba(208, 241, 158, 1);
  color: rgba(26, 92, 75, 1);
  border-radius: 50%;
  padding: 5px;
  height: 40px !important;
  width: 40px !important;
}

.card-value {
  font-weight: bold;
  margin-bottom: 8px;
}

.ellipsis-text {
  text-align: center;
  justify-content: start;
  margin-bottom: auto;
}

.card-actions {
  justify-content: center;
}

@media (max-width: 640px) {
  .common-card {
    padding-block: 16px !important;
  }

  .card-content {
    padding-block: 12px !important;
  }

  .card-actions {
    padding-block: 0px !important;
  }
}