.container-card {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  column-gap: 1rem;
  min-width: fit-content;
  margin-bottom: 80px;
}

/* MUI-based styles */
.agent-grm-card-header {
  font-family: Inter, sans-serif !important;
  font-weight: 700 !important;
}

.dark-theme .agent-grm-card-header {
  color: #fff;
}
.agent-grm-card-sub-header {
  font-family: Inter, sans-serif !important;
  color: var(--Neutral-neutral-600, #5c6460);
}

.dark-theme .agent-grm-card-sub-header {
  color: #fff;
}
.grm-form-inner-cards-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: #f0f5f2;
  padding: 40px;
  border-radius: 12px;
}

.dark-theme .grm-form-inner-cards-container {
  background-color: #222529;
}
.grm-form-inner-card {
  background-color: #fff;
  padding: 32px;
  border-radius: 12px;
  min-width: 300px;
}

.dark-theme .grm-form-inner-card {
  background-color: #1a1d21;
}
.grm-form-inner-card-header {
  font-family: Inter, sans-serif !important;
  width: fit-content;
  font-weight: 600 !important;
  padding-bottom: 16px;
}
.dark-theme .grm-form-inner-card-header {
  color: #fff;
}

.scheme-form {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  min-width: 300px;
}
.grm-form-category-selected-header {
  font-family: Inter !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  padding-bottom: 8px !important;
}
.dark-theme .grm-form-category-selected-header {
  color: #fff;
}

.grm-create-service-request-id {
  border: 1px solid var(--Neutral-neutral-300, #d7deda);
  border-radius: 12px;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 16px;
}

.grm-service-request-id {
  font-family: Inter !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #004d2b;
}

.dark-theme .grm-service-request-id {
  color: #85bc31;
}

.scheme-track-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-self: stretch;
}

.scheme-track-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.scheme-track-scheme-details {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;
}

.scheme-track-details-info {
  font-weight: 500 !important;
}

.scheme-track-details-info-separator {
  border-left: 1px solid #d9d9d9;
}

.scheme-track-status-text {
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: 600 !important;
}

.scheme-track-header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

@media (max-width: 800px) {
  .scheme-track-status {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .scheme-track-scheme-details {
    flex-direction: column;
    align-items: center;
  }

  .scheme-track-header-actions {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .grm-form-inner-cards-container {
    padding: 16px 12px;
  }
  .grm-form-inner-card {
    padding: 16px;
    min-width: none;
  }
  .scheme-form {
    padding: 14px !important;
  }
}
