/* AssetsHome.css */
.assets-main-container {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.assets-container {
  position: relative;
  margin-right: 0;
  /* margin-bottom: 16px; */
  z-index: 2;
}

.assets-container-mobile{
  padding: 12px;
  box-shadow: 0px 0px 1px 0px rgba(0, 102, 51, 1);
  margin-inline: 12px;
  border-radius: 16px;
}

.assets-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-block: 40px; */
}

.assets-header {
  flex: 1;
  margin-right: 32px;
  margin-bottom: 0;
}

.assets-container .assets-title {
  /* width: 154px; */
  height: 58px;
  gap: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
  /* color: #1c211e; */
  margin-bottom: 16px;
}

.assets-title-mobile {
  font-weight: 600 !important;
  margin-bottom: 12px !important;
}

.assets-container .assets-description {
  margin-bottom: 16px;
  text-align: left;
  /* color: #1a5c4b; */
}

.assets-grid {
  flex: 2;
  height: 100%;
}
.commonAssetsCard {
  width: 200px;
  height: 200px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-color: #d7deda;
}

.commonAssetsCardHeader {
  height: 40px;
  padding: 8px 8px 8px 16px;
  gap: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryName {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  /* color: #1c211e; */
}

.arrowIcon {
  width: 16px;
  height: 16px;
  left: 3.75px;
  gap: 0px;
  color: #5c6460;
}

.imageContainer {
  width: 200px;
  height: 120px;
  position: relative;
  overflow: hidden;
}

.categoryImage {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 960px) {
  .assets-container {
    /* margin-right: 32px; */
    /* margin-bottom: 16; */
  }
}

@media (max-width: 960px) {
  .assets-box {
    flex-direction: column;
    width: 96%;
    margin: auto;
    margin-bottom: 40px;
  }

  .assets-header {
    margin-bottom: 32px;
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .assets-title {
    text-align: center !important;
    margin-top: 16px !important;
  }

  .assets-description {
    text-align: center !important;
  }

  .homepage-asset-grid-item {
    display: flex;
    justify-content: center;
  }

  .commonAssetsCard {
    width: 164px;
    height: 165px;
  }
  
  .imageContainer {
    width: 162px;
  }
}
