.main-content-updates {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: rgba(28, 33, 30, 1);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dark-theme .main-content-updates {
  border: 1px solid rgba(247, 213, 8, 1);
}
.imp-updates-container {
  height: 100%;
  width: 100% !important;
  display: flex !important;
  padding: 24px !important;
  align-items: center !important;
  gap: 1rem;
}

@media (max-width: 640px) {
  .imp-updates-container {
    padding: 12px !important;
  }
}
